<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center p-5">
    <div class="p-5">
      <%= simple_form_for [@comic, @booking] do |f| %>
       <%= f.submit "Book now !", class: "book-button" %>
      <% end %>
    </div>
    <div class="p-5">
      <%= link_to "Go back to the comic", comic_path(@comic) %>
    </div>
  </div>
</div>
