<div class="container" style="min-height:80vh">
<div class="row d-flex justify-content-center">
<div class="col-lg-10 text-center">
<h1>Pending bookings</h1>


<ul id="pending-list">
  <%= render "bookings/pending_list", list: @pendings %>

</ul>

