
<body style="font-family:Marvel-Regular">
<div class="container py-3" style="min-height:80vh">
  <div class="row d-flex justify-content-between p-3">

    <div class="col-4 text-center">
      <%= form_tag comics_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Type you comic's title"
       %>
      <% end %>
    </div>

    <div class="col-2">
      <div class="col-flex">
          <%= link_to "Available comics", available_comics_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>



</body>
