<div class="container">
  <h1>Comic's info</h1>

  <h4><%= @comic.title %> </h4>
  <h4><%= @comic.publication_date %> </h4>
  <h4><%= @comic.category %> </h4>
  <h4><%= @comic.description %> </h4>
</div>
