<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images6.alphacoders.com/406/406621.jpg);">
  <div class="container">
      <h1 class="ml15">
  <span style="font-family:Marvel-Regular"class="word">the </span>
  <span class="word">place</span>
  <span class="word">where</span>
  <span class="word">we</span>
  <span class="word">share</span>
  <span class="word"><strong>comics</strong></span>

</h1>
<%=link_to "See all the comics", comics_path, class:"btn btn-home"%>
  </div>
</div>
