<div class="container-fluid"  style="margin-bottom:20px">
<div class="row d-flex justify-content-center" style="background-color:black">
<div class="col-lg-10 d-flex justify-content-center">
<div background-color:black><img src="https://static.warnerbros.fr/static/version1558629696/frontend/Warner/dccomics/fr_FR/images/front/v4/banner-edito-img-dc.webp" alt="" width="100%" height="200px" style="background-size: cover"></div>
</div>
</div>
</div>
