.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.google.fr/url?sa=i&source=images&cd=&ved=2ahUKEwiA3oaM_rHiAhUHxoUKHXd_DV8QjRx6BAgBEAU&url=https%3A%2F%2Fwww.catawiki.eu%2Fstories%2F4757-top-10-des-comics-americains-les-plus-chers&psig=AOvVaw2qTZashO2OXeuqkAIfmTvD&ust=1558712294293844');
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
