.btn-visit-index {
  background-color:#801336;
  color:white;
  font-weight:700;
  width:100%;
  transition-duration: 0.2s;
  position:absolute;
  bottom:5px;
  left:0px;
  font-size: 19px;
  padding-bottom: 0px;
    padding-top: 0px;
}

.btn-visit-index:hover {
  background-color:#c72c41;
  color:white;
}
