  .overlay2 {
    height:220px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
  font-size: 19px;
  color:white;


}
  .overlay2 h4{
font-weight:900;
font-size: 1.25rem;
}

.button-2 {
    color:#fff;
    background-color: rgba(38 , 196 , 236, 0.8);
    padding: 6px 10px;
    border-radius: 2px;
  font-size: 19px;
  border:1px solid white;
}
.button-2:hover
{
    color:#fff;
    background-color: rgb(150 , 196 , 236);
  font-size: 22px;
  text-decoration:none;
     font-weight:bold;
}
.separer2
{
  width: 100px;
  height: 2px;
  background-color:rgba(255 , 255 , 255, 0.8);
  margin:0 auto;
}

 article {
    width: 150px;
    height: 220px;
    float: left;
    border-radius:2px;
  background-size: 120%;
  margin-bottom: 20px;
background-repeat: no-repeat;
box-shadow: 3px 5px 7px gray;
transition-duration: 1s;
}
.left {
  position:absolute;
  right:30px;
  top:70px
}

.none {
  display:none;
}

