.separer2
{
  width: 100px;
  height: 2px;
  background-color:rgba(255 , 255 , 255, 0.8);
  margin:0 auto;
}

 article {
  width: 280px;

  border-radius:6px;
  background-repeat: no-repeat;
  box-shadow: 3px 5px 7px gray;
  position:relative;
}


.none {
  display:none;
}

.photo-comic {
  padding:10px
}

.card {
  margin-bottom: 20px
}
h4{
  color:#801336;
  font-weight:700;
}
