.navbar-lewagon {
display: flex;
justify-content:start;
  background: white;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {

}

.logo {
  font-size: 27px;
  color: #801336;
  font-weight: 700;
}

.logo:hover{
  text-decoration: none;
   color:#c72c41;
}

.nav-link-1{
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
  margin-left: 10px;
  &:hover{
    border-bottom: solid 1.2px;
    border-color:#c72c41;
    padding-bottom: 9px;
    text-decoration: none;
    color: inherit;
    color:#c72c41;
 }

  padding-left: 15px;
  padding-right: 15px;
  &:hover{
    border-bottom: solid 1.3px;
    border-color: #c72c41;
    padding-bottom: 12px;
    text-decoration: none;
    color: inherit;
    color: #c72c41;
  }
}

.nav-link-1:hover {
  padding-bottom:8px !important;
}
a.nav-link {
  background-color: #801336;
  color:white !important;
  border-radius: 5px;
}
a.nav-link:hover {
 background-color:#c72c41;
}

