.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-size: 20px;
  color:gray;
  font-weight: 700;
  position:absolute;
  right:10
}

.logo:hover{
  text-decoration: none;
  color:black;
}

.nav-link-1{
  margin-right: 10px;
  padding: 5%, 0%;
  color: inherit;
  background-color: #ffcf99;
  border-radius: 8%;
  transition-duration: 0.5s;
  &:hover {
        border-radius: 50%;
      }
}

.nav-link-2{
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
